.LeftNavIcons{
    
    color: white;
    height: 575px;
    border-radius: 2px white solid;
    border: 2px white;
    border-right:2px ;
    border-color: white;
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
h3:hover{
cursor: pointer;
background-color: black;
}