<div class="bg3">
    <h4> Registration Form </h4>
    <form [formGroup]="registerform">
        <label for="f_name">Enter the First Name </label>
        <input type="text" name="f_name" id="f_name" formControlName="f_name">
        
        <br> <br>
        <label for="l_name">Enter the Last Name </label>
        <input type="text" name="l_name" id="l_name" formControlName="l_name">
        <br> <br>
        <label for="email">Enter the Email ID </label>
        <input type="email" name="email" id="email" formControlName="email">
        <br> <br>
        <label for="PhonecountryCode"> Phone country Code </label>
        <input type="number" name="PhonecountryCode" id="PhonecountryCode" formControlName="PhonecountryCode">
        <br> <br>
        <label for="PhoneNo">Enter PhoneNumber </label>
        <input type="number" name="PhoneNo" id="PhoneNo" formControlName="PhoneNumber">
        <br> <br>
        <label for="password">Enter  the  Password </label>
        <input type="password" name="password" id="password" formControlName="password">
        <br> <br>
        <label for="confirm_password"> Confirm Password </label>
        <input type="password" name="confirm"  id="confirm_password" formControlName="confirm_password">
        <br> <br>
        <label for="address"> Enter the Address </label>
        <input type="text" name="address" id="address" formControlName="address">
        <br> <br>
        <button [disabled]="!registerform.valid" style="margin-right: 30px;" (click)="register()"> Submit </button>
        <button style="margin-left: 30px;"> Cancel </button>
        <br> <br>
        <button [disabled]="!registerform.valid" style="margin-left: 60px;" [routerLink]='loginVar'> LogIn </button>
        
    </form>
</div>
